.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.card {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(162, 255, 219);
    transition: transform 0.3s; /* Add transition for zoom effect */
}

.card:hover {
    transform: scale(1.05); /* Zoom in effect */
}

.card h2 {
    margin-top: 0;
    font-size: 20px;
    color: black;
}

.card img {
    width: 150px; /* Adjust image size as needed */
    height: 150px; /* Adjust image size as needed */
    margin: 5px auto;
    display: block;
}

body {
    background-color: rgb(210, 241, 241);
}

a {
    text-decoration: none; /* Remove underline */
}
